<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- Access_fine_Location: präziser Standort abruf -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Access_coarse_Location: ungefährer Standort abruf -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Internet: Netzwerkzugriff -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_arfid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_arfid_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ARFID"
        tools:targetApi="31" >

        <activity android:name=".ScreenArfidVerstehen01" />
        <activity android:name=".ScreenArfidVerstehen02" />
        <activity android:name=".ScreenArfidVerstehen03" />
        <activity android:name=".ScreenArfidVerstehen04" />
        <activity android:name=".ScreenKindUnterstuetzen01" />
        <activity android:name=".ScreenKindUnterstuetzen02" />
        <activity android:name=".ScreenKindUnterstuetzen03" />
        <activity android:name=".ScreenKindUnterstuetzen04" />
        <activity android:name=".ScreenKindUnterstuetzen05" />
        <activity android:name=".ScreenKindUnterstuetzen06" />

        <activity
            android:name=".ParentActivity"
            android:exported="false"
            android:label="@string/title_activity_parent"
            android:theme="@style/Theme.ARFID" />
        <activity
            android:name=".ChildActivity"
            android:exported="false"
            android:label="@string/title_activity_child"
            android:theme="@style/Theme.ARFID" />
        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:label="@string/title_activity_doctor"
            android:theme="@style/Theme.ARFID" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ARFID" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />
    </application>

</manifest>